.event-preview {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  & > header {
    box-sizing: border-box;
    gap: var(--spacing-3);
    flex-shrink: 0;
    height: 2rem;
    padding: 0 var(--spacing-3);
    padding-right: 0;
    
    position: sticky;
    top: 0;
    z-index: 1;
    
    background-color: var(--background-color-accent);
    border-bottom: 1px solid var( --table-border-color);
    
    & > nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 100%;
      
      & > .close {
        --icon-button-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMDYyIDE1IDUgMTMuOTM4IDguOTM4IDEwIDUgNi4wNjIgNi4wNjIgNSAxMCA4LjkzOCAxMy45MzggNSAxNSA2LjA2MiAxMS4wNjIgMTAgMTUgMTMuOTM4IDEzLjkzOCAxNSAxMCAxMS4wNjIgNi4wNjIgMTVaIiBmaWxsPSIjMDAwIi8+PC9zdmc+);
      }
    }
  }
  
  & > main {
    background-color: var(--background-color);
    
    flex-grow: 1;
    
    & > * {
      height: 100%;
    }
  }
}
